<div class="card text-center">
    <div class="card-header">
        Task @Task.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">@Task.Title</h5>
        <p class="card-text">@Task.Description</p>
        <div class="form-check d-inline-block">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="@(Task.IsDone ? true: false)">
            <label class="form-check-label" for="flexCheckDefault">
                Done
            </label>
        </div>
    </div>
    <button type="button" class="btn btn-default btn-lg btn-danger" @onclick="DeleteRecipe">
        Delete
    </button>
</div>

@code {
    [Parameter]
    public Model.Task Task { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }


    void DeleteRecipe()
    {
        var taskService = new TaskService();
        taskService.DeleteTask(Task.Id);
        OnDelete.InvokeAsync();
    }
}
