@page "/"

<div class="container">
    <h3>To-Do List</h3>
    <div class="tool-bar mb-3">
        <a class="btn btn-primary" href="/newRecipe">Add new Task</a>
        <button class="btn btn-info" @onclick="StateHasChanged">Refresh</button>
    </div>
    <div class="d-flex flex-column gap-3">
        @foreach (var task in Tasks)
        {
            <TaskCard Task="task"  OnDelete="StateHasChanged" />
        }
    </div>
</div>

@code{
    List<Model.Task> Tasks;
    protected override void OnInitialized() {
        var taskService = new TaskService();
        Tasks = taskService.GetTasks();
    }
}